body{
  background-image:url("./fundo.png");
  background-repeat:repeat;
  background-size:140px;
  background-attachment: fixed;
    font-family: Arial, sans-serif;
  margin:0;
  
}

header{
  background:#d6670c;
  color:rgb(253, 252, 251);
  text-align:center;
  padding:20px;
}

.menu{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
  padding:20px;
  background: rgba(255,255,255,0.92);
  border-radius: 20px;
}

.item{
  background:rgb(248, 190, 103);
  padding:20px;
  border-radius:12px;
  color: white;
  width:200px;
  box-shadow:0 4px 10px rgba(245, 139, 2, 0.993);
  text-align:center;
}

button{
  background:#ffa703;
  color:rgb(249, 252, 250);
  border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#fa8806;
}

.carrinho{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:12px;
  
}

.whats{
  background:#25d366;
  width:100%;
  margin-top:10px;
}

footer{
  text-align:center;
  padding:20px;
  color:#777;
}
